.myimg{
	position:absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: url("lantern.gif");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ghost{
    position:absolute;
    width: 0vw;
	height: 0vh;
	top: 0vh;
	left: 0vw;

}
.ghost2{
    position:absolute;
    width: 0vw;
	height: 0vh;
	top: 0vh;
	left: 0vw;
}

h1{
	position: absolute;
	top: -8.5vh;
	left: 6vw;
	top: -6vw;
	font-size:8vw;
	font-family: 'Nosifer', cursive;
	font-weight: 400;
	color: rgb(242, 35, 15);
}
.link{
	position: absolute;
	top: 85vh;
	left: 27vw;
	font-size: 2vw;
	font-family: 'Nosifer', cursive;
	font-weight: 400;
	color: yellow;

}
.discount{
	position: absolute;
	top: 90vh;
	left: 9vw;
	font-size: 2vw;
	font-family: 'Nosifer', cursive;
	font-weight: 400;
	color: rgb(242, 35, 15);
}

.information1{
	position: absolute;
	top:31vh;
	left: 4vw;
	font-size: 2.5vw;
	font-family: 'Arvo', serif;
	color: rgb(255,237,10);
}

.information2{
	line-height: 1.5;
	position: absolute;
	top:37vh;
	left: 4vw;
	font-size: 2vw;
	font-family: 'Arvo', serif;
	color: white;
}

.admission1{
	position: absolute;
	top:31vh;
	left: 74vw;
	font-size: 2.5vw;
	font-family: 'Arvo', serif;
	color: rgb(255,237,10);
}

.admission2{
	line-height: 1.8;
	position: absolute;
	top:37vh;
	left: 74vw;
	font-size: 2vw;
	font-family: 'Arvo', serif;
	color: white;
}




@media(max-width: 390px){
h1{
	line-height: 1.3;
	font-size:15.7vw;
	width: 70%;
	top: -1vh;
	left: 7vw;
}
.myimg{
	background: url("halloween-03.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ghost{
    position:absolute;
    width: 40vw;
	height: 25vh;
	top: 10vh;
	left: 50vw;
	transform: rotate(-25deg);
	opacity: 0.6;

}
.ghost2{
    position:absolute;
    width: 30vw;
	height: 15vh;
	top:70vh;
	left: 60vw;
	transform: rotate(15deg);
	opacity: 0.6;
}

.link{
	font-family: 'Arvo', serif;
	top: -0.6vh;
	left: 23vw;
	font-size:4vw;
	color: rgb(33,221,218);
}
.discount{
	font-family: 'Arvo', serif;
	font-size:4vw;
	color: rgb(33,221,218);
	top: 92vh;
	left: 15vw;
	width: 70vw;
	text-align: center;

}
.information1{
	top: 49vh;
	font-size: 5vw;
	left: 7vw;

}
.information2{
	line-height: 1.4;
	top: 53vh;
	font-size: 4.5vw;
	left: 7vw;

}
.admission1{
	top: 71vh;
	font-size: 5vw;
	left: 7vw;

}
.admission2{
	line-height: 1.4;
	top: 75vh;
	font-size: 4.5vw;
	left: 7vw;

}

}
	