body{
	margin: 0;
}

.background{
	position:absolute;
	width: 100vw;
	height: 100%;
	top: 0;
	left: 0;
	background: url("background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


h1{
	position: absolute;
	top: -9vh;
	left: 16vw;
	font-size:9vw;
	font-family: 'Archivo Black', sans-serif;
	font-weight: 400;
	color: white;
	
}

.circle {
 	position: absolute;
	margin-top: 17vh;
	margin-left: 24.5vw;
	width: 50vw;
	height: 73vh;
	background:rgb(27, 20, 100);
	border-radius: 50%;
}


.photo{
	position:absolute;
	width: 35vw;
	height: 67vh;
	margin-top: 20vh;
	margin-left: 32vw;
	background: url("photo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.COLLECTION{
	position: absolute;
	top:89vh;
	left: 10vw;
	font-size: 2.5vw;
	font-family: 'Archivo Black', sans-serif;
	color: white;
}

.COLLECTION:hover{
	color: rgb(27, 20, 100);
}

.ABOUT{
	line-height: 1.5;
	position: absolute;
	top:89vh;
	left: 44.5vw;
	font-size: 2.5vw;
	font-family: 'Archivo Black', sans-serif;
	color: white;
}

.ABOUT:hover{
	color: rgb(27, 20, 100);
}

.CONTACT{
	position: absolute;
	top:89vh;
	left: 73vw;
	font-size: 2.5vw;
	font-family: 'Archivo Black', sans-serif;
	color: white;
}

.CONTACT:hover{
	color: rgb(27, 20, 100);
}



.blindboxtitle{
	color: white;
	font-family: 'Archivo Black', sans-serif;
	position: absolute;
	top: -5.5vh;
	left: 3.75vw;
	font-size:6.75vw;
	font-weight: 400;
	color: white;


}

 .card1 {
	position: absolute;
  box-shadow: 0px 0px 5px 5px rgba(192,192,192,0.3);
  max-width: 24vw;
  height: 42vw;
  margin-top: 16vh;
  margin-left: 1vw;
  font-family: 'Archivo Black', sans-serif;
  background-color: white;

}


.title1{
	text-align: center;
	font-size: 2.5vw;
	margin-top: 1.5vh;
	

}

.price1 {
  text-align: left;
  color: grey;
  font-size: 1.7vw;
  margin-top: -2vh;
  margin-left:2.75vw;
  font-family: 'arial';
}

.intro1{
	text-align: center;
  color: rgb(27, 20, 100);
  font-size: 2vw;
  margin-top: 2vh;
  margin-left: 0.25vw;
  font-family: 'Bebas Neue', cursive;

}

.card1 button {
	position: absolute;
	bottom: 0;
  border: none;
  outline: 0;
  padding: 18px;
  color: white;
  background-color: rgb(27, 20, 100);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
 font-family: 'arial';

}

.card1 button:hover {
  opacity: 0.7;
}



.card2 {
	position: absolute;
  box-shadow: 0px 0px 5px 5px rgba(192,192,192,0.3);
  max-width: 24vw;
  height: 42vw;
  margin-top: 34vh;
  margin-left: 25.75vw;
  font-family: 'Archivo Black', sans-serif;
  background-color: white;
  display: inline-block;
  
}

.title2{
	text-align: center;
	font-size: 2.5vw;
	margin-top: 2vh;
	

}

.price2 {
  text-align: left;
  color: grey;
  font-size: 1.7vw;
  margin-top: -2vh;
  margin-left: 2.75vw;
  font-family: 'arial';
}

.intro2{
	text-align: center;
  color: rgb(27, 20, 100);
  font-size: 2vw;
  margin-top: 2.5vh;
  margin-left: 0.25vw;
  font-family: 'Bebas Neue', cursive;

}

.card2 button {
	position: absolute;
	bottom: 0;
  border: none;
  outline: 0;
  padding: 18px;
  color: white;
  background-color: rgb(27, 20, 100);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
 font-family: 'arial';

}

.card2 button:hover {
  opacity: 0.7;
}


.card3 {
	position: absolute;
  box-shadow: 0px 0px 5px 5px rgba(192,192,192,0.3);
  max-width: 24vw;
  height: 42vw;
  margin-top: 16vh;
  margin-left: 50.25vw;
  font-family: 'Archivo Black', sans-serif;
  background-color: white;
  display: inline-block;
  
}

.title3{
	text-align: center;
	font-size: 2.5vw;
	margin-top: 0.5vh;
	

}

.price3 {
  text-align: left;
  color: grey;
  font-size: 1.7vw;
  margin-top: -3vh;
  margin-left: 2.75vw;
  font-family: 'arial';
}

.intro3{
	text-align: center;
  color: rgb(27, 20, 100);
  font-size: 2vw;
  margin-top: 1vh;
  margin-left: 0.25vw;
  font-family: 'Bebas Neue', cursive;

}

.card3 button {
	position: absolute;
	bottom: 0;
  border: none;
  outline: 0;
  padding: 18px;
  color: white;
  background-color: rgb(27, 20, 100);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
 font-family: 'arial';

}

.card3 button:hover {
  opacity: 0.7;
}

.card4 {
	position: absolute;
  box-shadow: 0px 0px 5px 5px rgba(192,192,192,0.3);
  max-width: 24vw;
  height: 42vw;
  margin-top: 34vh;
  margin-left: 75vw;
  font-family: 'Archivo Black', sans-serif;
  background-color: white;
  display: inline-block;
  
}

.title4{
	text-align: center;
	font-size: 2.5vw;
	margin-top: 0.5vh;
	

}

.price4 {
  text-align: left;
  color: grey;
  font-size: 1.7vw;
  margin-top: -2.75vh;
  margin-left: 2.75vw;
  font-family: 'arial';
}

.intro4{
	color: rgb(27, 20, 100);
	text-align: center;
  font-size: 2vw;
  margin-top: 1vh;
  margin-left: 0.25vw;
  font-family: 'Bebas Neue', cursive;

}

.card4 button {
	position: absolute;
	bottom: 0;
  border: none;
  outline: 0;
  padding: 18px;
  color: white;
  background-color: rgb(27, 20, 100);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
 font-family: 'arial';

}

.card4 button:hover {
  opacity: 0.7;
}