.background{
	position:absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: url("background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


h1{
	position: absolute;
	top: -9vh;
	left: 16vw;
	font-size:9vw;
	font-family: 'Archivo Black', sans-serif;
	font-weight: 400;
	color: white;
	
}

.circle {
 	position: absolute;
	margin-top: 17vh;
	margin-left: 24.5vw;
	width: 50vw;
	height: 73vh;
	background:rgb(27, 20, 100);
	border-radius: 50%;
}


.photo{
	position:absolute;
	width: 35vw;
	height: 67vh;
	margin-top: 20vh;
	margin-left: 32vw;
	background: url("photo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.COLLECTION{
	position: absolute;
	top:89vh;
	left: 10vw;
	font-size: 2.5vw;
	font-family: 'Archivo Black', sans-serif;
	color: white;
}

.COLLECTION:hover{
	color: rgb(27, 20, 100);
}

.ABOUT{
	line-height: 1.5;
	position: absolute;
	top:89vh;
	left: 44.5vw;
	font-size: 2.5vw;
	font-family: 'Archivo Black', sans-serif;
	color: white;
}

.ABOUT:hover{
	color: rgb(27, 20, 100);
}

.CONTACT{
	position: absolute;
	top:89vh;
	left: 73vw;
	font-size: 2.5vw;
	font-family: 'Archivo Black', sans-serif;
	color: white;
}

.CONTACT:hover{
	color: rgb(27, 20, 100);
}



