.myimg{
	position:absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: url("lantern.gif");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

h1{
	position: absolute;
	top: -8.5vh;
	left: 6vw;

	font-size:8vw;
	font-family: 'Nosifer', cursive;
	font-weight: 400;
	color: rgb(242, 35, 15);
}
.link{
	position: absolute;
	top: 85vh;
	left: 27vw;
	font-size: 2vw;
	font-family: 'Nosifer', cursive;
	font-weight: 400;
	color: yellow;

}
.discount{
	position: absolute;
	top: 90vh;
	left: 9vw;
	font-size: 2vw;
	font-family: 'Nosifer', cursive;
	font-weight: 400;
	color: rgb(242, 35, 15);
}

.information1{
	position: absolute;
	top:27vh;
	left: 4vw;
	font-size: 3vw;
	font-family: 'Creepster', cursive;
	color: rgb(255,237,10);
}

.information2{
	line-height: 1.5;
	position: absolute;
	top:33vh;
	left: 4vw;
	font-size: 2.5vw;
	font-family: 'Creepster', cursive;
	color: white;
}

.admission1{
	position: absolute;
	top:27vh;
	left: 75vw;
	font-size: 3vw;
	font-family: 'Creepster', cursive;
	color: rgb(255,237,10);
}

.admission2{
	line-height: 1.8;
	position: absolute;
	top:33vh;
	left: 75vw;
	font-size: 2.5vw;
	font-family: 'Creepster', cursive;
	color: white;
}




@media(max-width: 390px){
h1{
	line-height: 1.4;
	font-size:15.5vw;
	width: 70%;
	top: -1.5vh;
	left: 7vw;
}
.myimg{
	background: url("Halloween-Wallpapers-4.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.link{
	font-family: 'Balsamiq Sans', cursive;
	top: -0.5vh;
	left: 24vw;
	font-size:4vw;
	color: rgb(33,221,218);
}
.discount{
	font-family: 'Balsamiq Sans', cursive;
	font-size:4vw;
	color: rgb(33,221,218);
	top: 92vh;
	left: 18vw;
	width: 65vw;
	text-align: center;

}
.information1{
	top: 49vh;
	font-size: 5.5vw;
	left: 7vw;

}
.information2{
	line-height: 1.4;
	top: 52vh;
	font-size: 5.5vw;
	left: 7vw;

}
.admission1{
	top: 72vh;
	font-size: 5.5vw;
	left: 7vw;

}
.admission2{
	line-height: 1.4;
	top: 75vh;
	font-size: 5.5vw;
	left: 7vw;

}

}
	
